section
{
    justify-content: center;
    display: flex;
    gap: 80px;
    margin-bottom: 80px;
}
.button__section
{
    margin-top: 50px;
}
.students
{
    display: none;
}
.goals
{
    display: none;
}
.goal__Box
{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.goal__Box button
{ 
    max-width: fit-content;
}
.students__Box
{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.students__Box
{
    max-width: fit-content;
}
button
{
    border: none;
    border-radius: 8px;
    color: #000;
    background-color: rgb(5, 170, 68);
    padding: 10px 20px;
}

form
{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 15px;

}